version: 2
jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester-uv
    steps:
      - checkout
      - run:
          name: 'Setup'
          command: |
            uv venv --python 3.9 /usr/local/share/virtualenvs/tap-invoiced
            source /usr/local/share/virtualenvs/tap-invoiced/bin/activate
            uv pip install -U pip setuptools
            uv pip install .[dev]
      - add_ssh_keys      
      - run:
          name: 'JSON Validator'
          command: |
            source /usr/local/share/virtualenvs/tap-invoiced/bin/activate
            stitch-validate-json tap_invoiced/schemas/*.json
      - run:
          name: 'Unit Tests'
          command: |
            source /usr/local/share/virtualenvs/tap-invoiced/bin/activate
            pip install nose coverage
            nosetests tests

      - store_test_results:
          path: test_output/report.xml
      - store_artifacts:
          path: htmlcov
workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: circleci-user
  build_daily:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build:
          context: circleci-user
