version: 2
jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester
    steps:
      - checkout
      - run:
          name: 'Setup'
          command: |
            python3 -mvenv /usr/local/share/virtualenvs/tap-invoiced
            source /usr/local/share/virtualenvs/tap-invoiced/bin/activate
            pip install -U 'pip==22.2.2' 'setuptools==65.3.0'
            pip install .[dev]

      - run:
          name: 'Unit Tests'
          command: |
            source /usr/local/share/virtualenvs/tap-invoiced/bin/activate
            pip install nose coverage
            nosetests tests
      - store_test_results:
          path: test_output/report.xml
      - store_artifacts:
          path: htmlcov
      - add_ssh_keys


workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: circleci-user
  build_daily:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build:
          context: circleci-user


